body{
}

h1{
  font-family:'helvetica';
  margin: 0 auto;
  text-align: center;
}

#display p {
  color: green;
  text-align: center;
  font-size: 5em;
}

.buttons{
  margin-left: 50%;
  border: none;
  border-radius: 10px;
  padding: 7px 5px;
}

#reset button {
   padding: 7px 5px;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   border-radius: 10px;
}

#increase-temperature button {
  background-color: #DE4040;
  /*padding: 7px 5px;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /*border-radius: 10px;*/
}

#decrease-temperature button {
  background-color: #85C8DE;
  /*padding: 7px 5px;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /*border-radius: 10px;*/
}

#thermostat{
  background-color: #F0F0F0;
  border-radius: 100%;
  margin: 30%;
  margin-top: 2em;
}
